<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smart.mapper.CareMapper">
    
    <!-- 사용자 등록 -->
    <select id="careInsert" parameterType="kr.smart.mapper.CareVO" resultType="int">
        insert into k_care(c_manager_id, c_name, c_birth, c_phone, c_address, c_memo)
        values(#{c_manager_id}, #{c_name}, #{c_birth}, #{c_phone}, #{c_address}, #{c_memo});
        
        select c_seq
		from k_care
		order by c_seq desc limit 1;
    </select>
    
    <!-- 사용자 전체 조회 -->
    <select id="careSelect" parameterType="String" resultType="kr.smart.mapper.CareVO">
        select *
        from k_care
        where c_manager_id = #{c_manager_id}
    </select>
    
    <!-- 선택한 사용자 조회 -->
    <select id="selectAny" resultType="kr.smart.mapper.CareVO">
        select *
        from k_care
        where c_seq = #{c_seq}
    </select>
    
    <!--  사용자 정보수정  -->
    <update id="careUpdate" parameterType="kr.smart.mapper.CareVO">
        update k_care
        set c_name=#{c_name}, c_birth=#{c_birth}, c_phone=#{c_phone}, c_address=#{c_address}, c_memo=#{c_memo}
        where c_seq=#{c_seq}
    </update>
    
    <!-- 사용자 삭제 delete말고 update로 관리자아이디만 변경-->
    <update id="careDelete" parameterType="int">
        update k_care
        set c_manager_id = 'admin'
        where c_seq = #{c_seq}
    </update>
    
    <!--  제품등록 -->
    <insert id="deviceInsert" parameterType="int">
        insert into k_device(d_c_seq)
        values(#{d_c_seq})
    </insert>
    
    <!-- 사용자 한명 조회 -->
    <select id="careLoad" resultType="kr.smart.mapper.CareVO">
        select *
        from k_care
        where c_seq = #{c_seq}
    </select>
    
    
    <!-- 안드로이드 관리대상 등록요청 -->
	<insert id="andCareInsert" parameterType="kr.smart.mapper.CareVO">
		insert into k_care(c_manager_id, c_name, c_birth, c_phone, c_address,
		c_memo)
		values(#{c_manager_id}, #{c_name}, #{c_birth}, #{c_phone}, #{c_address}, #{c_memo})
	</insert>

	<!-- 안드로이드 관리대상 리스트 조회 요청  -->
	<select id="andCareList" parameterType="kr.smart.mapper.CareVO" resultType="kr.smart.mapper.CareVO">
		select * from k_care where c_manager_id = #{c_manager_id}
	</select>
    
    
</mapper>